{% extends "layout.html" %}

{% block body %}

<h1>Ayo get it done 📝</h1>
<center>
    <form action="/todo" method="post">
        <div>
            <input type="text" autocomplete="off" autofocus name="todo" placeholder="Enter  your  task...">
            <input class="button-30" type="submit" value="Add">
        </div>

    </form>
    <form action="/clear" method="post">
        <input class="button-30" type="submit" value="Clear">
    </form>
</center>

<div class="almost-full">
    <h2>Tasks: </h2>
    <ul>
        {% for todo in to_do_list %}
        <li>{{todo}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}